aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==20.2.0
base58==2.0.1
bitarray==1.2.2
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
coverage==6.3.2
cryptography==37.0.2
cytoolz==0.11.0
eth-abi==2.1.1
eth-account==0.5.5
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.9.5
frozenlist==1.3.0
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.0.1
importlib-resources==3.0.0
iniconfig==1.1.1
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
lru-dict==1.1.6
multiaddr==0.0.9
multidict==6.0.2
netaddr==0.8.0
packaging==21.3
parsimonious==0.8.1
pluggy==1.0.0
protobuf==3.13.0
py==1.11.0
pycparser==2.21
pycryptodome==3.9.8
pyparsing==3.0.8
pyrsistent==0.17.3
pytest==7.1.2
pytest-mock==3.7.0
requests==2.24.0
rlp==2.0.0
six==1.15.0
tomli==2.0.1
toolz==0.11.1
typing-extensions==3.7.4.3
urllib3==1.25.11
varint==1.0.2
web3==5.23.1
websockets==9.1
yarl==1.7.2
zipp==3.3.1
